<%# banner %>
<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('galaxy.jpg') %>);">
  <div class="container">
    <h1>Discover our spaceships</h1>
    <p>Travel with us around the galaxy</p>
    <%= render "components/search-bar" %>
    <%= link_to "All destinations", spaceships_path, class: "btn btn-outline-info btn-lg btn-block" %>
  </div>
</div>

<%# cards %>

<div class="container my-2 px-1">
<h4 class="my-3"> Hot deals! </h4>
  <div class="row">
    <div class="card-trip col-sm-4">
      <%= image_tag "ba-3000qx.jpg" %>
      <div class="card-trip-infos">
        <div>
          <h2> Martian </h2>
          <p>Our very best spaceship to get to mars in less than 10 hours </p>
        </div>
        <h2 class="card-trip-pricing"> SC 100.000</h2>
        <%= image_tag "mars.png", class: "card-trip-user avatar-bordered" %>
      </div>
    </div>


    <div class="card-trip col-sm-4">
      <%= image_tag "ferrari-spacecraft.jpg" %>
      <div class="card-trip-infos">
        <div>
          <h2> Venusa </h2>
          <p>Our very best spaceship to get to Venus in less than 18 hours </p>
        </div>
        <h2 class="card-trip-pricing"> SC 150.000</h2>
        <%= image_tag "venus.png", class: "card-trip-user avatar-bordered" %>
      </div>
  </div>

    <div class="card-trip col-sm-4">
      <%= image_tag "hyper-t.jpg" %>
      <div class="card-trip-infos">
        <div>
          <h2> SaturnEye </h2>
          <p>Our very best spaceship to get to Saturn in less than 22 hours </p>
        </div>
        <h2 class="card-trip-pricing"> SC 300.000</h2>
        <%= image_tag "saturn.png", class: "card-trip-user avatar-bordered" %>
      </div>
    </div>
  </div>
</div>
