<div class="container my-2 px-1">
  <h4> Hi <%= current_user.first_name %>!</h4>

  <div class="row m-1">
    <h5> Your bookings: </h5>
  </div>

  <% @bookings.each do |b| %>
  <div class="row m-1">
    <div class="card-product">
      <% if b.spaceship.photo.attached? %>
        <%= cl_image_tag(b.spaceship.photo.key) %>
      <% else %>
        <%= image_tag("rogue-3kn.jpg") %>
      <% end %>
      <div class="card-product-infos">
        <p id="mybooking-text"> <strong> Name of the spaceship:</strong> <%= b.spaceship.name %> </p>
        <p id="mybooking-text"> <strong> Destination:</strong> <%= b.spaceship.destination.capitalize %>  </p>
        <p id="mybooking-text"> <strong>Departing on:</strong>  <%= b.start_date.strftime("%d %b %Y") %>  </p>
        <p id="mybooking-text"> <strong>Returning on:</strong>  <%= b.end_date.strftime("%d %b %Y") %>  </p>
      </div>
    </div>
  </div>
  <% end %>
</div>



