<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 message">
      <h4 class="my-2"> <strong> Edit your spaceship </strong> </h4>

      <%= simple_form_for @spaceship do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price, as: :string %>
        <%= f.input :destination %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-dark' %>
      <% end %>
      <%= link_to "Back", spaceships_path, class: 'btn btn-info my-2' %></div>
    </div>
  </div>
