<h1> work in progress </h1>

<div class="card-category py-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' <%= asset_path 'homepage-banner.jpg' %> ');">
</div>


<div class="container my-2 px-1">
  <div class="row">
    <% @spaceships.each do |spaceship|  %>
      <div class="card-trip col-sm-4">
        <%= image_tag "martian.jpg" %>
        <div class="card-trip-infos">
          <div>
            <h2> <%= spaceship.name %> </h2>
            <p> <%= spaceship.description %> </p>
            <p> Great deal! </p>
          </div>
          <%= "€", spaceship.price, class: "card-trip-pricing" %>
          <%= image_tag "mars.jpg", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


