<div class="container my-2 px-1">
<h4 class="my-3"> Today's deals! </h4>
  <div class="row m-1">
    <% @spaceships.each do |spaceship|  %>
      <div class="card-trip col-sm-4 box">
        <%= image_tag "BA-3000QX.jpg" %>
        <div class="card-trip-infos">
          <div>
            <h2> <%= spaceship.name %> </h2>
            <p> <%= spaceship.description %> </p>
            <p> Great deal! </p>
          </div>
          <p class="card-trip-pricing"> SC <%= spaceship.price %> </p>
          <%= image_tag "mars.png", class: "card-trip-user avatar-bordered" %>
        </div>
        <%= link_to "Book now", root_path, class: "btn btn-info p-1 m-2" %>
      </div>
    <% end %>
  </div>
</div>


